.menu-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    transition: background-color ease-in-out 200ms;
    &:hover {
        color: rgb(232, 239, 233);
        background-color: #019160;
    }
}
.title {
    margin-left: 8px;
    font-weight: 500;
    text-transform: capitalize;

}
