@import 'normalize.css';
@import "../../../src/pages/CaiDat/CaiDat.module";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,500;1,600&display=swap');

:root {
    // //màu chính
    // --primary: #fe2c55;
    // --text-color: #333;

    // //DefaultLayout
    // --default-layout-header-height: 60px;
    // --default-layout-width-content: 1150px;
}

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    width: 100%;
    height: 100vh;
}



body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    color: var(--text-color);

}

button,
input,
[tabindex] {
    border: none;
    outline: none;
    display: flex;
    padding-left: 10px
}
button{
    background-color: #019160;
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    &:hover{
        background-color: #25a278;
        cursor: pointer;
    }


}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}
