
//.wrapper {
//    float: left;
//    width: 350px;
//    position: fixed;
//    display: flex;
//    transition: 850ms;
//    // height: 100vh;
//    // border-right: 1px solid #000;
//}
.aside{
    background-color: #51917b;

}
.lo-go {
    padding: 12px;
    display: flex;
    align-items: center;
}
.m-toggle {
    color: aqua;
    cursor: pointer;
    width: 24px;
    height: 24px;
    &:hover {
        color: #000;
    }
}
.logo-page {
    height: 35px;
    width: 200px;
    margin-left: 10px;
}
