//CONTENT title
.content-tittle {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;

}


.m-btn-text{
    display: flex;
   background-color: #019160;
}
.m-tittle-l-text {
    font-weight: bold;
    font-size: 17px;
}


//CONTENT table
.content-table {
    padding: 16px;
    height: calc(100vh - 186px);
    overflow: scroll;
    text-transform: capitalize;
}
.row {
    margin-top: 4px;
    width: 100%;
}
.table {
    width: 100%;
    border-spacing: unset;
    border: unset;
    /* viền ngang giữa các dòng */
    border-collapse: collapse;
}
tr {
    height: 48px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
tbody td {
    font-weight: 500;
    font-size: 12px;
}

tbody tr:nth-child(2n-1) {
    background-color: #e9ebee;
}

tbody tr:hover {
    background-color: #ebf9f4;
}

tr td:first-child,
tr th:first-child {
    padding-left: 16px;
    padding-right: 10px;
}

td,
th {
    padding: 0 8px;
    border: none;
}

thead th {
    /* giữ thanh cuộn tiêu đề ngang k di chuyển */
    position: sticky;
    top: 0;
    background-color: #fff;
    font-weight: 600;
    text-align: left;
}

//Phân trang paging-navigation
.m-table-paging {
    padding-left: 10px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
}
.selected{
    background-color: #019160;
}

.m-paging-left {
    width: 200px;
    font-size: 12px;
}
.m-paging-center {
    margin: 0 20px;
    padding-right: 100px;
    display: flex;
    justify-content: center;
    flex: 1;
}
.m-paging-right {
    display: flex;
    justify-content: right;
}
.m-paging-first,
.m-paging-prev,
.m-paging-next,
.m-paging-last {
    width: 32px;
    height: 32px;
    padding-top: 4px;
    text-align: center;

    &:hover {
        cursor: pointer;
        opacity: 0.5;
    }
}
.m-paging-number {
    height: 100%;
    flex-shrink: 0;
    // display: flex;
    // align-items: center;
    padding-top: 4px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    // line-height: 32px;
    margin: 0 4px;
    cursor: pointer;
    background-color: #019160;
    &:hover {
         background-color: #2fbe8e;
    }

}
