.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    //   background-color: aqua;
}
.container {
    width: 100%;
    display: flex;
    max-width: 100%;
    height: calc(100% - 60px);
     //background-color: red;
}
.navbar{
    background-color: #51917b;
    width: 30px;
    text-align: center;
}

.content {
    flex: 1;
    height: calc(100vh - 60px);
    position: relative;
    //height: 690px;
}
