.wrapper {
    width: 100%;
    float: left;
    height: 60px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    // justify-content: center;
    border-bottom: 1px solid #656666;
}

.inner {
    //height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #51917b;
}
.combo-user{
    padding-right: 10px;
}
.name-page {
    justify-content: space-between;
    padding-left: 100px;
}
.avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
    background-size: cover;
}
.header-right {
    float: right;
}
// h2 {
//     text-align: center;
// }
